.ui__card {
    border-radius: 2px;
    border: 1px solid #dcdcdc;
    // box-shadow: 0 2px 16px 0 rgba($color__black, 0.08);
    background-color: $color__white;
    margin: 24px 0;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr auto;
    grid-template-areas:
    "header body"
    "header footer";
}

.card__header {
  grid-area: header;
}

.card__body {
  grid-area: body;
  padding: 12px 24px;
}

.card__footer {
  grid-area: footer;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;

  dl, p {
    margin: 0;
  }
}

.card__title {
  font-size: 28px;
  margin: 0;
}

.card__curation {
  font-size: 12px;
  margin: 0;
}
